@import "normalize.css";
@import "typography.css";
@import "header.css";
@import "footer.css";


@import"https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap";

:root {
  --black: #000000;
  --white: #FFFFFF;
  --zinc-500: #71717A;
}

/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 100px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.img_responsive {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Hero section */
.hero {
  height: 400px;
  position: relative;
  width: 100%;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(12px);
}

.hero-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* max-width: 75%; */
  margin: auto 4rem;
}

.hero-content h1 {
  color: white;

  font-weight: bold;
  margin-top: 0;
  margin-bottom: 24px;
}

.hero-content p {
  color: white;
  line-height: 36px;
}

/* Explore section */
.explore {
  padding: 4rem;
}

.explore h2 {

  font-weight: 600;
  margin-bottom: 48px;
  color: black;
}

.explore-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column;
  gap: 32px;
  width: 100%;
}

.explore img {
  border-radius: 8px;
  width: 100%;
}

/* Exoplanets section */
.exoplanets {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.exoplanets-content {
  display: grid;
  width: 100%;
  padding: 4rem;
}

.exoplanets h2 {
  color: white;

  font-weight: 600;
  margin-bottom: 48px;
}

.exoplanets-text {
  margin-bottom: 48px;
}

.exoplanets-text p {
  color: #71717A;
  margin-bottom: 48px;
}

.cta-button {
  background-color: white;
  color: black;
  border: none;
  padding: 12px 24px;

  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
}

.exoplanets-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Main Articles section */

.main-article-content {
  display: grid;
  gap: 16px; 
  padding: 4rem;
}

.main-article p {
  color: black;

}

.article-img img {
  border-radius: 200px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0px;
}

/* Articles section */
.articles {
  padding: 4rem;
}

.articles h2 {

  font-weight: 600;
  margin-bottom: 48px;
  color: black;
}

.articles-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.article-card {
  display: grid;
  width: 100%;
}

.article-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 32px;
}

.article-content h3 {

  font-weight: 500;
  color: black;
  margin-bottom: 8px;
}

.article-content p {

  line-height: 36px;
  color: #71717A;
}

/* Main Content Styles */
.main-content {
  display: grid;
  /* grid-template-columns: 596px 1fr; */
  gap: 64px;
  padding: 24px 80px;
  margin-bottom: 64px;
  /* min-height: 1048px; */
}

/* Contact Info Section */
.contact-info {
  background-color: black;
  color: white;
  padding: 96px 44px;
  border-radius: 12px;
  width: 100%;
}

.contact-info h2 {

  font-weight: 700;
  margin-bottom: 48px;
}

.contact-details {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(48px, 1fr));
  gap: 48px;
}

.contact-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 24px;
  align-items: flex-start;
}

/* Contact Form Section */
.contact-form {
  display: grid;
  grid-template-rows: auto 1fr;
  padding-top: 24px;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 56px;
  margin-bottom: 64px;
}

.form-group {
  position: relative;
}

.form-group label {
  display: block;

  font-weight: 500;
  margin-bottom: 8px;
}

.form-input {
  width: 100%;
  padding: 8px 0;

  font-weight: 500;
  border: none;
  border-bottom: 1px solid var(--black);
  outline: none;
  min-height: 30px;
}

.message-group {
  margin-bottom: 112px;
}

.submit-button {
  float: right;
  padding: 16px 48px;

  color: var(--white);
  background-color: var(--black);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}


/* Media Queries */
@media screen and (max-width: 550px) {
  .article-grid {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 32px;
  }

  .explore-grid {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 32px;
  }


}


@media screen and (min-width: 800px) {

}
