:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: var(--color-primary);
    text-decoration: inherit;
}
a:hover {
color: var(--color-mod);
}
h1 {

    line-height: 1.1;
}